/******************************
This is for when I have it as a 
single page site, I may change it
at some point, in which case I'll
just un-include this file and do
some fancy-dannery in the other
files.
*******************************/

body{
    height: 100vh;
    width: 100vw;
}

main{
    @include container;
    @include poseidon('article, aside');
    margin-top: calc((100vh - 373px) / 2);
    margin-bottom: 0;
    max-height: 100vh;
    padding: 0 size(gutter);

    @media (max-height:423px){
        margin-top: size(gutter);
    }

    @include breakpoint(s) {
        margin-top: size(gutter);
    }
}

aside{
    text-align: center;
    padding: 0 percent-of(47, size(container));

    img{
        @include breakpoint(s) {
            width: 150px;
        }
    }
}

article{
    position: relative;
    min-height: 373px;
    padding-bottom: 60px;

    @include breakpoint(m) {
        min-height: 0;
    }

    @include breakpoint(s) {
        max-width: 320px;
        padding-bottom: 0;
        min-height: 0;
        margin-bottom: 0;
    }

    > ul{
        list-style: none;
        padding: 0;
        margin: 0;

        li{
            font-size: 57px;
            font-family: font(two);
            line-height: 57px;
            margin-bottom: size(gutter);

            @include breakpoint(m) {
                font-size: 5.5vw;
                line-height: 5.5vw
            }

            @include breakpoint(s) {
                font-size: 35px;
                line-height: 35px;
                text-align: center;
            }

            &:before{content: '[';}
            &:after{content: ']';}
            &:nth-of-type(3n + 1){color: color(three);}
            &:nth-of-type(3n + 2){color: color(four);}
            &:nth-of-type(3n + 3){color: color(five);}
        }
    }
}

p{
    font-size: 32px;
    font-weight: 200;

    @include breakpoint(m) {
        font-size: 3vw;
    }

    @include breakpoint(s) {
        font-size: 25px;
        text-align: center;
    }
}

nav{
    position: absolute;
    right: 0;
    bottom: -20px;
    left: 0;

    @include breakpoint(s) {
        position: static;
    }

    ul{
        @include horizontal-nav;
        padding: 0;
        text-align: justify;
        margin: 0;

        &:after{
            @include pseudo-block(inline);
            width: 100%;
            vertical-align: bottom;
        }

        li{
            display: inline-block;
            vertical-align: bottom;
        }

        a{
            display: inline-block;
        }

        img{

            @include breakpoint(m) {
                max-width: 50px;
            }
        }
    }
}
