@mixin hermes-left($article-element: figure, $sidebar-element: aside){
    @include structure;

    #{$sidebar-element}{
        @include cols(1/4, $column-margin);
        float: left;
    }

    #{$article-element}{
        @include cols(1.5/4, $column-margin);
        float: left;
    }
    
    @include breakpoint(s) {
        #{$sidebar-element}, #{$article-element}{
            float: none;
            width: 100%;
            margin-right: 0;
            display: block;
            margin-bottom: $mobile-column-margin;
        }
    }
}
